
<nav mat-tab-nav-bar mat-align-tabs="center" [backgroundColor]="background">
  <a mat-tab-link *ngFor="let route of routes"
     (click)="activeRoute = route.route"
     [active]="activeRoute == route.route"> {{route.component}} </a>
</nav>

<div class="narrow">
  <div class="container">
    <portfolio *ngIf="activeRoute == 'portfolio'"></portfolio>
    <about-me *ngIf="activeRoute == 'about-me'"></about-me>
    <hobbies *ngIf="activeRoute == 'hobbies'"></hobbies>
  </div>
</div>

<router-outlet></router-outlet>
